<br />
<div class="box">
  <%= image_tag "Faces_2.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_8.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "art_2.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "art_1.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_4.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_6.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "art_3.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "art_4.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_5.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_3.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_11.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_9.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_10.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_7.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_12.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_13.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_14.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_15.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_16.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_17.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_18.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_19.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_31.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_22.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_21.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_20.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_25.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_24.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_26.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_27.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_28.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_29.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<div class="box">
  <%= image_tag "Faces_32.jpg", class: "gallery-pic" %>
</div>
<div class="box">
  <%= image_tag "Faces_23.jpg", class: "gallery-pic" %>
</div>
<br class="clear">
<br />
<br />
<br />