<!DOCTYPE html>
<html>
  <head>
    <title>Faces | Antoine Bishop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="col-2">
        <%= link_to image_tag("Faces_small.png", alt: "logo"), '/', class: 'navbar-brand' %>
      </div>
        <div class="navbar-nav col-10">
          <div class="row col-11 offset-1">
            <div class="col-2 text-center">
              <a class="nav-item nav-link" href="https://soundcloud.com/antoinebishople" target="_blank"><i class="fab fa-soundcloud fa-2x"></i></a>
            </div>
            <div class="col-2 text-center">
              <a class="nav-item nav-link" href="https://www.youtube.com/channel/UCLeJsYwEllheIjEFtBbI1Mg" target="_blank"><i class="fab fa-youtube fa-2x"></i></a>
            </div>
            <div class="col-2 text-center">
              <a class="nav-item nav-link" href="https://imggra.com/user/antoinebishople/3418054544" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
            <div class="col-2 text-center">
              <a class="nav-item nav-link" href="https://twitter.com/antoinebishople" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
            <div class="col-2 text-center">
              <a class="nav-item nav-link" href="/gallery"><i class="fas fa-images fa-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </nav>


    <%= yield %>
  </body>
</html>
